<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Dependencies-and-Load-in-Dataset" data-toc-modified-id="Import-Dependencies-and-Load-in-Dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Dependencies and Load in Dataset</a></span></li><li><span><a href="#Pandas-Exploratory-Data-Analysis" data-toc-modified-id="Pandas-Exploratory-Data-Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Exploratory Data Analysis</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Show-the-First/Last-Rows-of-Dataset" data-toc-modified-id="Show-the-First/Last-Rows-of-Dataset-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Show the First/Last Rows of Dataset</a></span></li><li><span><a href="#Drop-Unnecessary-Pandas-Column" data-toc-modified-id="Drop-Unnecessary-Pandas-Column-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Drop Unnecessary Pandas Column</a></span></li><li><span><a href="#Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column" data-toc-modified-id="Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Compute a New Pandas Series and Attach to Dataframe as Column</a></span></li><li><span><a href="#Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria" data-toc-modified-id="Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Count Number of Rows in Dataframe Meet Some Criteria</a></span></li><li><span><a href="#Filter-DataFrame-for-a-Subset-of-Rows" data-toc-modified-id="Filter-DataFrame-for-a-Subset-of-Rows-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>Filter DataFrame for a Subset of Rows</a></span></li></ul></li><li><span><a href="#Difference-Between-extractall-and-findall" data-toc-modified-id="Difference-Between-extractall-and-findall-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Difference Between <code>extractall</code> and <code>findall</code></a></span></li></ul></li><li><span><a href="#Regex-Character-Classes" data-toc-modified-id="Regex-Character-Classes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Regex Character Classes</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Find-all-Tweets-That-Start-with-a-Number" data-toc-modified-id="Find-all-Tweets-That-Start-with-a-Number-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Find all Tweets That Start with a Number</a></span></li><li><span><a href="#Find-all-@-Mentions" data-toc-modified-id="Find-all-@-Mentions-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Find all @ Mentions</a></span><ul class="toc-item"><li><span><a href="#Alternative-Method-to-Work-With-Lists-in-Pandas" data-toc-modified-id="Alternative-Method-to-Work-With-Lists-in-Pandas-3.0.2.1"><span class="toc-item-num">3.0.2.1&nbsp;&nbsp;</span>Alternative Method to Work With Lists in Pandas</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Quantifiers" data-toc-modified-id="Quantifiers-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Quantifiers</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Match-All-Phone-Numbers-(Link)" data-toc-modified-id="Match-All-Phone-Numbers-(Link)-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Match All Phone Numbers (<a href="https://regexr.com/50v17" target="_blank">Link</a>)</a></span></li><li><span><a href="#Parse-Out-Zip-Codes-(Link)" data-toc-modified-id="Parse-Out-Zip-Codes-(Link)-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Parse Out Zip Codes (<a href="https://regexr.com/50v1g" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Capture-Groups" data-toc-modified-id="Capture-Groups-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Capture Groups</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)" data-toc-modified-id="Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Example: Parsing out Weekday from Timestamp String (<a href="https://regexr.com/50v0l" target="_blank">Link</a>)</a></span></li><li><span><a href="#Example:-Parsing-Out-Domain-Names" data-toc-modified-id="Example:-Parsing-Out-Domain-Names-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Example: Parsing Out Domain Names</a></span></li></ul></li><li><span><a href="#Non-Capture-Groups" data-toc-modified-id="Non-Capture-Groups-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Non-Capture Groups</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Link)" data-toc-modified-id="Example-1-(Link)-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Example 1 <a href="https://regexr.com/50t7c" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-2-(Link)" data-toc-modified-id="Example-2-(Link)-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Example 2 <a href="https://regexr.com/50t7c" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-3-(Link)" data-toc-modified-id="Example-3-(Link)-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Example 3 (<a href="https://regexr.com/50ush" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Find-the-subject-headings-for-these-emails." data-toc-modified-id="Find-the-subject-headings-for-these-emails.-6.0.0.1"><span class="toc-item-num">6.0.0.1&nbsp;&nbsp;</span>Find the subject headings for these emails.</a></span></li><li><span><a href="#Find-all-hashtags-mentioned-in-the-tweets_df-dataset.-Store-it-as-a-separate-column-called-hashtags." data-toc-modified-id="Find-all-hashtags-mentioned-in-the-tweets_df-dataset.-Store-it-as-a-separate-column-called-hashtags.-6.0.0.2"><span class="toc-item-num">6.0.0.2&nbsp;&nbsp;</span>Find all hashtags mentioned in the <code>tweets_df</code> dataset. Store it as a separate column called <strong>hashtags</strong>.</a></span></li><li><span><a href="#In-fraudulent_emails.txt,-identify-the-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers." data-toc-modified-id="In-fraudulent_emails.txt,-identify-the-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers.-6.0.0.3"><span class="toc-item-num">6.0.0.3&nbsp;&nbsp;</span>In <code>fraudulent_emails.txt</code>, identify the <strong>list of email addresses</strong> for your security administrator to blacklist from your company's email servers.</a></span></li><li><span><a href="#In-fraudulent_emails.txt,-identify-any-IP-addresses-that-should-be-blacklisted" data-toc-modified-id="In-fraudulent_emails.txt,-identify-any-IP-addresses-that-should-be-blacklisted-6.0.0.4"><span class="toc-item-num">6.0.0.4&nbsp;&nbsp;</span>In <code>fraudulent_emails.txt</code>, identify any IP addresses that should be blacklisted</a></span></li><li><span><a href="#The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling." data-toc-modified-id="The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling.-6.0.0.5"><span class="toc-item-num">6.0.0.5&nbsp;&nbsp;</span>The word "AT&amp;T" is not spelled correctly in the <code>tweets_df</code> dataset. Correct the misspelling.</a></span></li><li><span><a href="#Removing-hashtags-and-mentions,-which-topic-has-the-highest-average-tweet-character-count?" data-toc-modified-id="Removing-hashtags-and-mentions,-which-topic-has-the-highest-average-tweet-character-count?-6.0.0.6"><span class="toc-item-num">6.0.0.6&nbsp;&nbsp;</span>Removing hashtags and mentions, which topic has the highest average tweet character count?</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Import Dependencies and Load in Dataset

In [1]:
import pandas as pd
tweets_df: pd.DataFrame = pd.read_csv("tweets_pandas.csv")

# Pandas Exploratory Data Analysis

### Show the First/Last Rows of Dataset

In [2]:
tweets_df.head()

,likes,index,date,topic,handle,tweet
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...

In [ ]:
tweets_df.tail()

### Drop Unnecessary Pandas Column

In [3]:
tweets_df.drop(columns=["index"], inplace=True)

In [4]:
tweets_df

,likes,date,topic,handle,tweet
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
...,...,...,...,...,...
493,2,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...
494,0,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
495,4,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

### Compute a New Pandas Series and Attach to Dataframe as Column

In [8]:
# get length of tweets in characters
tweets_df["tweet_length"] = tweets_df["tweet"].apply(lambda x: len(x))
tweets_df

,likes,date,topic,handle,tweet,tweet_length
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...,58
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck...",58
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75
...,...,...,...,...,...,...
493,2,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...,102
494,0,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat...",125
495,4,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...,65
496,0,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far...",94
497,0,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...,92

### Count Number of Rows in Dataframe Meet Some Criteria

In [10]:
# count number of times Obama appears in tweets
tweets_df["tweet"].str.contains(r"\bObama\b", case=False).sum()

16

### Filter DataFrame for a Subset of Rows

In [11]:
tweets_df[tweets_df["tweet"].str.contains(r"\bObama\b", case=False)]

,likes,date,topic,handle,tweet,tweet_length
9,4,Mon May 11 03:29:20 UTC 2009,obama,mandanicole,how can you not love Obama? he makes jokes abo...,57
10,2,Mon May 11 03:32:42 UTC 2009,obama,jpeb,Check this video out -- President Obama at the...,101
11,0,Mon May 11 03:32:48 UTC 2009,obama,kylesellers,@Karoli I firmly believe that Obama/Pelosi hav...,140
12,4,Mon May 11 03:33:38 UTC 2009,obama,theviewfans,House Correspondents dinner was last night who...,106
48,0,Sun May 17 17:32:00 UTC 2009,aig,KennyTRoland,?Obama Administration Must Stop Bonuses to AIG...,85
102,0,Mon May 25 17:35:23 UTC 2009,cheney,jepaco,"Dick Cheney's dishonest speech about torture, ...",102
243,4,Mon May 11 03:29:01 UTC 2009,obama,lingbellbell,Obama is quite a good comedian! check out his ...,87
244,4,Mon May 11 03:29:38 UTC 2009,obama,motsandco,"' Barack Obama shows his funny side "" &gt;&gt;...",82
245,4,Mon May 11 03:29:41 UTC 2009,obama,mickou,I like this guy : ' Barack Obama shows his fun...,85
246,4,Mon May 11 03:32:35 UTC 2009,obama,meggentile,Obama's speech was pretty awesome last night! ...,65
247,4,Mon May 11 03:33:05 UTC 2009,obama,failness,"Reading ""Bill Clinton Fail - Obama Win?"" http...",67
248,4,Mon May 11 03:33:43 UTC 2009,obama,kledy,Obama More Popular Than U.S. Among Arabs: Surv...,140
249,4,Mon May 11 03:34:04 UTC 2009,obama,LaurelEdelstein,Obama's got JOKES!! haha just got to watch a b...,128
330,0,Mon May 25 17:19:30 UTC 2009,north korea,Mvsic,Listening to Obama... Friggin North Korea...,44
331,0,Mon May 25 17:21:16 UTC 2009,pelosi,CFURNAROS,I just realized we three monkeys in the white ...,83
375,2,Tue Jun 02 03:00:51 UTC 2009,gm,economywire,Obama: Nationalization of GM to be short-term ...,78

## Difference Between `extractall` and `findall`

The `extractall` method will return a fanned-out multi-dimensional index. For example, in the example below, the primary index is `0`, but there are sub-indices for `stellargirl` (`0`), `loooooooovvvvvveee` (`1`), etc.

In [113]:
tweets_df["tweet"].str.extractall(r'\b(\w{3,})\b').head(5)

                          0
  match
0 0             stellargirl
  1      loooooooovvvvvveee
  2                 Kindle2
  3                     Not
  4                    that

The `findall` method will return a list of results (or an empty list if there is no match).

In [12]:
tweets_df["tweet"].str.findall(r'\b(\w{8,})\b').apply(len).sum()

618

# Regex Character Classes

There are often shortcut keywords you can use instead of typing out every possible character you want to match against. For instance, instead of `[a-zA-Z0-9]`, for all practical purposes, you can type out `/w`.

![Character Classes](images/character_chars.png "Regex character classes")

### Find all Tweets That Start with a Number

* [Non-Match Example](https://regexr.com/50ur7)
* [Match Example](https://regexr.com/50urj)

In [14]:
tweets_df[tweets_df["tweet"].str.contains(r"^\d")]

,likes,date,topic,handle,tweet,tweet_length
242,2,Mon May 11 03:27:58 UTC 2009,twitter,delpop,45 Pros You Should Be Following on Twitter - h...,62
430,2,Tue Jun 02 06:53:45 UTC 2009,eating,Fitness_101,10 tips for healthy eating ? ResultsBy Fitness...,86
482,0,Sun Jun 14 04:36:07 UTC 2009,latex,QuadError,"7 hours. 7 hours of inkscape crashing, normall...",140

In [19]:
tweets_df[tweets_df["tweet"].str.contains(r"\d$")]["tweet"]

15     #lebron best athlete of our generation, if not...
55     Bill Simmons in conversation with Malcolm Glad...
74     By the way, I'm totally inspired by this freak...
83     NVIDIA Names Stanford's Bill Dally Chief Scien...
100    Cheney and Bush are the real culprits - http:/...
107    jQuery UI 1.6 Book Review - http://cfbloggers....
112    top ten most watched on Viral-Video Chart.  Lo...
120    Hi there, does anyone have a great source for ...
128    Just saw the new Night at the Museum movie...i...
155    Rocawear Heads to China, Building 300 Stores  ...
174    Sony coupon code.. Expires soon.. http://www.c...
201    Beginning JavaScript and CSS Development with ...
208    @BlondeBroad it's definitely under warranty &a...
227    pissed about at&amp;t's mid-contract upgrade p...
233    Talk is Cheap: Bing that, I?ll stick with Goog...
247    Reading  "Bill Clinton Fail - Obama Win?" http...
250    LEbron james got in a car accident i guess..ju...
279    RT @justindavey: RT @tweetmeme GM OnStar now i...
329    Wat the heck is North Korea doing!!??!! They j...
331    I just realized we three monkeys in the white ...
348    Learning jQuery 1.3 Book Review - http://cfblo...
377    I Will NEVER Buy a Government Motors Vehicle: ...
400    Weird Piano Guitar House in China! http://u2s....
411    Check this video out -- David After Dentist ht...
434    Nike SB Blazer High "ACG" Custom - Brad Dougla...
465             I hope the girl at work  buys my Kindle2
493    Ask Programming: LaTeX or InDesign?: submitted...
Name: tweet, dtype: object

### Find all @ Mentions
We'll use the `\w` character class to match for mentions (ie. `@ychennay`).

In [27]:
tweets_df[tweets_df["tweet"].str.findall(r"@\w+").apply(lambda x: "@stellargirl" in x)]

,likes,date,topic,handle,tweet,tweet_length
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111

#### Alternative Method to Work With Lists in Pandas

# Quantifiers

Quantifiers let you specify how many times a character or group should be matched.
![Quantifiers](images/quantifiers.png "Regex character classes")

In [28]:
text = "my mom and my dad"

In [30]:
import re

re.findall("(mom|dad)", text)

['mom', 'dad']

In [32]:
email_address = "yuchen@gmail.com michael@yahoo.com christy@usc.edu"

re.findall(r"(\w+)@", email_address)

['yuchen', 'michael', 'christy']

In [33]:
re.findall(r"(\w+)@\w+\.(?:com|edu)", email_address)

['yuchen', 'michael', 'christy']

### Match All Phone Numbers ([Link](https://regexr.com/50v17))
In the unwanted callers dataset (`unwanted_calls.csv`), parse out all phone numbers.

We'll only consider for the time being phone numbers that follow the format `123-456-7890`.

### Parse Out Zip Codes ([Link](https://regexr.com/50v1g))
In the `location_center_point_of_the_zip_code` field, we store both zip codes as well as geolocation data (latitudes and longitudes). We'll only consider zip codes with 5 digits (not the +4 digit delivery route).

# Capture Groups

[Oracle documentation on Capture Groups:](https://docs.oracle.com/javase/tutorial/essential/regex/groups.html)
> Capturing groups are a way to treat **multiple characters as a single unit**. They are created by placing the characters to be grouped inside a set of parentheses. For example, the regular expression `(dog)` creates a single group containing the letters `d`, `o`, and `g`.

### Example: Parsing out Weekday from Timestamp String ([Link](https://regexr.com/50v0l))

In the `date` field of `tweets_df`, we have timestamp strings that look like this: `Mon May 11 03:22:30 UTC 2009`. We want to parse out the weekday from this string.

### Example: Parsing Out Domain Names
We want to capture the domain names of different websites. Here, we need to escape the `.` part of `www.google.com`. In regex, `.` means "anything". To actually indicate we want to match for the literal `.` period character, we need to escape it, using `\.`.

In [79]:
websites = open("list_of_websites.txt").readlines()

## Non-Capture Groups

Sometimes you want to group multiple characters into a single unit to apply regex operations on them, but you don't
want to actually capture or return their result.

### Example 1 [(Link)](https://regexr.com/50t7c)
Using non-capture groups to match for optional text:

You want to capture both `child` and `children` in your text:

In [34]:
text = "The word child is singular, but the word children is plural. "

re.findall(r"child(?:ren)?", text)

['child', 'children']

In [35]:
text = "The word child is singular, but the word children is plural. "

re.findall(r"child(ren)?", text)

['', 'ren']

### Example 2 [(Link)](https://regexr.com/50t7c)
Find all the mentions in the tweets. Mentions start with `@`.

### Example 3 ([Link](https://regexr.com/50ush))
Here we want to match for the dollar amount, but we don't want to include the currency notation (`$` or `USD`).

In [1]:
text = "Average fast food wage is $9.08, but inflation has increased USD9.23"

# Exercises

You'll be using the the `tweets_df` Pandas dataframe and `fraudulent_emails.txt` text files for these examples.

In [4]:
email_text = open("fraudulent_emails.txt").read()

#### Find the subject headings for these emails.
**Hint**: Look for the subject line within the email.

#### Find all hashtags mentioned in the `tweets_df` dataset. Store it as a separate column called **hashtags**.

#### In `fraudulent_emails.txt`, identify the **list of email addresses** for your security administrator to blacklist from your company's email servers.

* Not all emails are malicious! Provide only the list of email addresses from where the email originates from. **Hint**: identify the pattern in the emails that tells you the source of the email.

#### In `fraudulent_emails.txt`, identify any IP addresses that should be blacklisted

An IPv4 address goes from **1.1.1.1 to 255.255.255.255**. For now, just worry about the number of digits, not whether the value in the address is above `255`.

#### The word "AT&T" is not spelled correctly in the `tweets_df` dataset. Correct the misspelling.

#### Removing hashtags and mentions, which topic has the highest average tweet character count?

In [22]:
tweets_df = tweets_df["tweet"].str.replace(r'AT&amp;', 'AT&')

In [ ]:
# first, we'll find the rows that contain AT&T to see what the pattern looks like
tweets_df[tweets_df["tweet"].str.contains(r'(AT)')].head()